@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
       font-family: 'Roboto', sans-serif;
}
.main{
   height: 100vh;
   width: 100%;

   display: flex;
   flex-direction: column;
}
.content {
   height: 795px;
   width: 100%;
   background: #f0f2f5;
   display: flex;
   justify-content: center;
   align-items: center;
}
.wrapper {
   height: 100%;
   width: 100%;
   margin: 0 300px;

   display: flex; 
   flex-direction: row;
}
.text{
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.text > img {
   height: 120px;
   padding-right: 220px;
}
.text > p {
   font-size: 28px;
   font-weight: normal;
   width: 500px;
   line-height: 32px;

   padding-bottom: 260px;
}
.form-container{
   width: 34%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.form {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 15px;
   padding: 20px 20px;
   background: white;
   border-radius: 3px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.form > input {
   padding: 16px 20px;
   font-size: 18px;
   border-radius: 7px;
   border: 1px solid #ccc;
}
.form > a{
   width: 100%;
}
.login {
   background-color: #1877f2;
   padding: 12px;
   text-align: center;
   color: white;
   border-radius: 7px;
   font-weight: bold;
   font-size: 22px;
   margin-top: 10px;
   outline: none;
   border: none;
   box-shadow: none;
}
hr{
   margin-bottom: 30px;
   color: rgba(255, 255, 255, 0.22);
}
.forgot{
   font-size: 15px;
   text-decoration: none;
   font-weight: lighter;
   margin: 0 10px;
}
.create {
   background-color: #36a420;
   padding: 14px;
   text-align: center;
   color: white;
   border-radius: 5px;
   font-weight: bold;
   text-decoration: none;
   font-size: 19px;

}
.footer {
   flex-grow: 1;
   background-image: url('./2112313.png');
}
.span{
   margin-top: 40px;
}
.login-center {
   margin-bottom: 20px;
}